@media only screen and (max-width: 1230px) {
  .sobre-hero {
    padding: 0 2rem 3.6rem;
  }

  .sobre-hero .container-grid {
    flex-direction: column;
    align-items: center;
    gap: 3.6rem;
  }

  .sobre-hero-text {
    text-align: center;
  }

  .sobre-hero-text .heading-1 {
    max-width: 90%;
    margin: 0 auto;
  }

  .sobre-envelope-img {
    width: 80%;
    margin-right: 0;
  }

  /* consultoria */

  .consultoria {
    padding: 12rem 2rem 22.4rem;
  }

  .consultoria .container-grid {
    flex-direction: column;
  }

  .consultoria-text {
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
  }

  .consultoria-text .button-primary {
    margin: 3.6rem auto 0;
  }

  .consultoria img {
    width: 65%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1024px) {
  /* SLIDES  */

  .slide-cover p {
    width: 70%;
  }

  /* SOBRE */
  .home-sobre-flex {
    flex-direction: column-reverse;
  }

  .home-sobre-flex img {
    width: 60%;
  }

  .home-sobre-text {
    width: 90%;
    text-align: center;
  }
  .home-sobre-text .button-primary {
    margin: 3.6rem auto 0;
  }

  /* cursos-geral */

  .cursos-heading {
    flex-direction: column;
    gap: 3.6rem;
    align-items: flex-start;
  }

  .curso-plano {
    border-radius: 30px 30px 0 0;
  }

  .curso-plano .container-grid {
    flex-direction: column-reverse;
    align-items: center;
    gap: 4.8rem;
  }

  .curso-plano .container-grid img {
    align-self: center;
  }

  .curso-plano-content {
    width: 100%;
  }
}

@media only screen and (max-width: 960px) {
  /* cursos-ofertas */

  .ofertas-filtro {
    display: none;
  }

  .ofertas-filtro-mobile {
    display: block;
  }

  .ofertas-grid {
    grid-template-columns: 1fr;
  }

  .all-cursos-lista {
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    justify-items: center;
  }
}

@media only screen and (max-width: 920px) {
  .menu-mobile {
    display: block;
  }

  .menu-links {
    display: none;
  }

  /* SOBRE */

  .schedule-whatsapp {
    flex-direction: column;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  /* HEADINGS TABLET */

  .display {
    font-size: 4.8rem;
  }

  .heading-1 {
    font-size: 3.6rem;
  }

  .heading-2 {
    font-size: 3.2rem;
  }

  .heading-3 {
    font-size: 2.4rem;
  }

  .heading-4 {
    font-size: 2rem;
  }

  /* BUTTONS */

  /* formacoes */

  .formacoes .heading-3 {
    width: 80%;
  }

  .cursos-container .text-md {
    width: 90%;
  }

  .sobre-informacoes .heading-3 {
    width: 90%;
  }
}

@media only screen and (max-width: 640px) {
  .form-grid {
    grid-template-columns: 1fr;
  }

  .form-grid .row + .row {
    margin-top: 2.4rem;
  }

  /* newsletter */

  .newsletter-container {
    margin-left: 0;
  }

  .sobre-formacoes {
    padding: 12.4rem 2rem 24.4rem;
  }

  /* consultoria */

  .consultoria-text {
    width: 100%;
  }

  .consultoria img {
    width: 80%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 560px) {
  /* HEADINGS MOBILE */

  .text-lg {
    font-size: 2rem;
  }

  .text-md {
    font-size: 1.8rem;
  }

  .depoimentos-parceiro {
    min-width: calc((100% / 3) - 3rem);
  }

  .depoimentos-parceiros-lista {
    animation: logo-marquee 10s linear infinite;
  }

  @keyframes logo-marquee {
    to {
      transform: translate3D(-233%, 0, 0);
    }
  }

  /* SOBRE*/

  .sobre-informacoes {
    padding: 0 2rem 6.4rem;
  }

  .sobre-informacoes .separador {
    margin: 4.8rem auto;
  }

  .sobre-informacoes-lista {
    margin-top: 4.8rem;
  }

  .sobre-formacoes {
    padding: 9.6rem 2rem 19.6rem;
  }

  .sobre-formacoes .button-primary {
    margin: 6.4rem auto 0;
  }

  /* CURSOS-GERAL */

  .cursos-intro {
    background: none;
    padding: 12rem 2rem 9.6rem;
  }

  .cursos-intro-cards {
    margin-top: 6.4rem;
  }

  .cursos-intro-card {
    flex-direction: column;
  }

  .cursos-intro-card img {
    width: 100%;
    height: 30rem;
  }

  /*  CURSOS OFERTAS */
  .cursos-ofertas-banner-content h1 {
    margin-left: 3.6rem;
  }
}

@media only screen and (max-width: 480px) {
  /* BUTTONS */
  .button-primary {
    font-size: 1.8rem;
  }

  /* slides */
  .slide-cover {
    padding: 28rem 2rem;
  }
  /* formacoes */

  .formacoes {
    padding: 9.6rem 2rem 8.2rem;
  }

  /* newsletter */
  .form-outside-container {
    padding: 0 1.2rem;
  }

  .newsletter-container-input input {
    padding: 0 1.2rem;
  }

  /* SOBRE */

  .sobre-hero-text .heading-1 {
    font-size: 3.6rem;
    max-width: 100%;
  }

  .sobre-informacoes .heading-3 {
    width: 100%;
  }

  /* cursos-ofertas */

  .cursos-ofertas-banner-content {
    align-items: flex-start;
    padding: 4.8rem 1.6rem;
  }

  .cursos-ofertas-banner-content h1 {
    margin: 0;
  }

  .filtro-form-select {
    margin-top: 1.2rem;
  }
}

@media only screen and (max-width: 420px) {
  .slide-cover {
    padding: 24rem 2rem;
  }

  .slide-cover .display {
    font-size: 4rem;
  }

  .slide-cover p {
    width: 90%;
  }
  /* formacoes */

  .formacoes .heading-3 {
    width: 100%;
  }
}
