@media only screen and (max-width: 1230px) {
  .sobre-hero {
    padding: 0 2rem 3.6rem;
  }

  .sobre-hero .container-grid {
    flex-direction: column;
    align-items: center;
    gap: 3.6rem;
  }

  .sobre-hero-text {
    text-align: center;
  }

  .sobre-hero-text .heading-1 {
    max-width: 90%;
    margin: 0 auto;
  }

  .sobre-envelope-img {
    width: 80%;
    margin-right: 0;
  }
}

@media only screen and (max-width: 1024px) {
  /* SLIDES  */

  .slide-cover p {
    width: 70%;
  }

  /* SOBRE */
  .home-sobre-flex {
    flex-direction: column-reverse;
  }

  .home-sobre-flex img {
    width: 60%;
  }

  .home-sobre-text {
    width: 90%;
    text-align: center;
  }
  .home-sobre-text .button-primary {
    margin: 3.6rem auto 0;
  }
}

@media only screen and (max-width: 920px) {
  .menu-mobile {
    display: block;
  }

  .menu-links {
    display: none;
  }

  /* SOBRE */

  .schedule-whatsapp {
    flex-direction: column;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  /* HEADINGS TABLET */

  .display {
    font-size: 4.8rem;
  }

  .heading-1 {
    font-size: 3.6rem;
  }

  .heading-2 {
    font-size: 3.2rem;
  }

  .heading-3 {
    font-size: 2.4rem;
  }

  .heading-4 {
    font-size: 2rem;
  }

  /* BUTTONS */

  /* formacoes */

  .formacoes .heading-3 {
    width: 80%;
  }

  .cursos-container .text-md {
    width: 90%;
  }

  .sobre-informacoes .heading-3 {
    width: 90%;
  }
}

@media only screen and (max-width: 640px) {
  .form-grid {
    grid-template-columns: 1fr;
  }

  .form-grid .row + .row {
    margin-top: 2.4rem;
  }

  /* newsletter */

  .newsletter-container {
    margin-left: 0;
  }

  .sobre-formacoes {
    padding: 12.4rem 2rem 24.4rem;
  }
}

@media only screen and (max-width: 560px) {
  /* HEADINGS MOBILE */

  .text-lg {
    font-size: 2rem;
  }

  .text-md {
    font-size: 1.8rem;
  }

  .depoimentos-parceiro {
    min-width: calc((100% / 3) - 3rem);
  }

  .depoimentos-parceiros-lista {
    animation: logo-marquee 10s linear infinite;
  }

  @keyframes logo-marquee {
    to {
      transform: translate3D(-233%, 0, 0);
    }
  }

  /* SOBRE*/

  .sobre-informacoes-lista {
    margin-top: 4.8rem;
  }
}

@media only screen and (max-width: 480px) {
  /* BUTTONS */
  .button-primary {
    font-size: 1.8rem;
  }

  /* slides */
  .slide-cover {
    padding: 28rem 2rem;
  }
  /* formacoes */

  .formacoes {
    padding: 9.6rem 2rem 8.2rem;
  }

  /* newsletter */
  .form-outside-container {
    padding: 0 1.2rem;
  }

  .newsletter-container-input input {
    padding: 0 1.2rem;
  }

  /* SOBRE */

  .sobre-hero-text .heading-1 {
    font-size: 3.6rem;
    max-width: 100%;
  }

  .sobre-informacoes .heading-3 {
    width: 100%;
  }
}

@media only screen and (max-width: 420px) {
  .slide-cover {
    padding: 24rem 2rem;
  }

  .slide-cover .display {
    font-size: 4rem;
  }

  .slide-cover p {
    width: 90%;
  }
  /* formacoes */

  .formacoes .heading-3 {
    width: 100%;
  }
}
